/* ==========================================================================
   Banner
   ========================================================================== */

$title-font-size: $typography-font-size-lg;
$title-font-weight: $font-weight-normal;
$title-color: $typography-heading-color;
$logo-color: $primary;
$logo-focus-color: $dark-primary;

[role="banner"] {
  .content {
    @include content-box();
    border-top: none;
  }
}


.title {
  font-size: $title-font-size;
  font-weight: $title-font-weight;
  text-align: center;

  a {
    display: inline-block;
    color: $title-color;
  }

  .logo {
    display: block;
    margin: 0 auto $half-size/2;
    width: (45/16) + rem;
    height: (45/16) + rem;
    fill: $logo-color;
    @include simple-transition(fill);
  }
  a:hover .logo,
  a:focus .logo {
    fill: $logo-focus-color;
  }
}
