/* ==========================================================================
   Contentinfo
   ========================================================================== */

[role="contentinfo"] {
  @extend .clearfix;
}

.about {
  margin: $size 0;
  border: 1px solid $light-grey;
  border-left: none;
  border-right: none;
}

.info {
  margin: $size 0 0 0;
}

.avatar {
  float: right;
  margin: $size 0 $half-size $half-size;
  background: #bbb;
  border-radius: 100%;
  @include dropshdow();
}

.services {
  @extend .inline-list;

  margin: $half-size 0 $size;
  line-height: 1;

  a[class^=icon-] {
    display: inline-block;
    opacity: 0.5;
    transform: translateZ(0);
    @include simple-transition(opacity);

    &:hover {
      opacity: 1;
    }

    svg {
      width: (32/16) + rem;
      height: (32/16) + rem;
      fill: $dark-grey;
    }
  }
}

.copyright {
  display: block;
  margin: $size 0;
  text-align: center;

  .url {
    display: block;
    @media only screen and (min-width: $break-md) {
      display: inline;
    }
  }
}
