/* ==========================================================================
   Contentinfo
   ========================================================================== */

$contentinfo-font-size: $typography-font-size;
$contentinfo-color: $mid-grey;

[role="contentinfo"] {
  font-size: $contentinfo-font-size;
  color: $contentinfo-color;

  a {
    color: $contentinfo-color;
  }
}

.about {
  @include content-box();
}

.avatar {
  float: right;
  margin: $size 0 0 $half-size;
  background: #bbb;
  border-radius: 100%;
  @include dropshdow();
}

.info {
  margin-bottom: 0;
}

.services {
  @extend .inline-list;
  margin: $half-size 0 $size;

  a[class^=icon-] {
    display: block;
    width: (32/16) + rem;
    height: (32/16) + rem;
    @include opaque-on-focus();

    svg {
      display: block;
      width: 100%;
      height: 100%;
      fill: $contentinfo-color;
    }
  }
}

.copyright {
  display: block;
  margin: $size 0;
  text-align: center;

  .url {
    display: block;
    @media only screen and (min-width: $break-md) {
      display: inline;
    }
  }
}
