/* ==========================================================================
   Links
   ========================================================================== */

$link-color: $primary;
$link-focus-color: $dark-primary;

a {
  color: $link-color;
  text-decoration: none;
  @include simple-transition(color);

  &:focus,
  &:hover {
    color: $link-focus-color;
  }
}
