/* ==========================================================================
   Mixins
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }

  &:after {
    clear: both;
  }
}


/* Content box */
$content-box-margin: $size;
$content-box-padding: $size;
$content-box-border-color: $light-grey;

@mixin content-box() {
  // @include clearfix();
  margin: $content-box-margin 0;
  border: 1px solid $content-box-border-color;
  border-left: none;
  border-right: none;
}


/* Drop shadow */
@mixin dropshdow() {
  box-shadow: 0 0 3px 1px hsla(0, 0%, 0%, 0.15);
}


/* Simple property transition */
@mixin simple-transition($property) {
  transition: $property 0.2s ease;
}


/* Opaque on focus */
@mixin opaque-on-focus($from: 0.5, $to: 1) {
  opacity: $from;
  transform: translateZ(0);
  @include simple-transition(opacity);

  &:hover,
  &:focus {
    opacity: $to;
  }
}
