/*******************************************************************************
 * Typography
 ******************************************************************************/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-stack);
  font-size: var(--step-0);
  font-weight: var(--font-weight-normal);
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  line-height: 1.1;
  max-width: 28ch;
}

h1 {
  font-size: var(--step-4);
  font-weight: var(--font-weight-black);
  max-width: 20ch;
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

th,
dt,
strong,
b {
  font-size: inherit;
  font-weight: var(--font-weight-bold);
}

ol,
ul {
  padding-inline-start: var(--step-0);
}

/*******************************************************************************
 * Links
 ******************************************************************************/

a {
  color: currentColor;
  font-weight: var(--font-weight-bold);
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.2ex;
}

a:hover,
a:focus {
  color: var(--accent);
}

:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 0.1rem;
}

/*******************************************************************************
 * Flow Content
 ******************************************************************************/

.flow > * + * {
  margin-block-start: var(--flow-space, var(--step-0));
}

*:is(h1, h2, h3, blockquote) {
  --flow-space: var(--step-2);
}

*:is(h1, h2, h3, dt) + * {
  --flow-space: var(--step--2);
}

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--step-4);
  min-height: 100dvh;
  max-width: 75rem;
  margin-inline: auto;
}

/*******************************************************************************
 * Header
 ******************************************************************************/

body > header {
  display: flex;
  align-items: center;
  padding: var(--step--1);
  gap: var(--step--1);
}

body > header a {
  text-decoration: none;
}

body > header [aria-current] {
  color: var(--accent);
}

body > header svg {
  display: block;
}

/*******************************************************************************
 * Main Content
 ******************************************************************************/

main {
  align-self: center;
  padding-inline: var(--step--1);
}

@media (min-width: 32rem) {
  main {
    padding-inline: var(--page-left-gutter);
  }
}

.wrapper {
  max-width: 60rem;
}
.wrapper-narrow {
  max-width: 48rem;
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

body > footer {
  font-size: var(--step--2);
  padding: var(--step--1);
  padding-inline-start: var(--step--1);
  gap: var(--step--1);
}

body > footer a {
  font-weight: inherit;
  text-decoration-thickness: inherit;
  text-decoration-color: inherit;
}

@media (min-width: 32rem) {
  body > footer {
    padding-inline-start: var(--page-left-gutter);
  }
}

/*******************************************************************************
 * Article
 ******************************************************************************/

article > header p:first-of-type {
  font-size: var(--step-1);
  font-weight: var(--font-weight-light);
}

article > footer {
  font-weight: var(--font-weight-light);
}

/*******************************************************************************
 * Tables
 ******************************************************************************/

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
  padding: var(--step--2);
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

thead {
  border-block-end: 2px solid var(--border);
}

tbody tr {
  border-block-end: 1px solid var(--border);
}

tbody tr:last-child {
  border: none;
}

/*******************************************************************************
 * Utils
 ******************************************************************************/

[hidden] {
  display: none;
}
