/*******************************************************************************
 * Variables
 ******************************************************************************/

:root {
  /* Typography */
  --font-size: 1rem;
  --font-size-xxs: 0.6875rem;
  --font-size-xs: 0.75rem;
  --font-size-s: 0.875rem;
  --font-size-l: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2.25rem;

  --font-stack: ui-sans-serif, system-ui, sans-serif;

  /* Space */
  --space: 1rem;
  --space-xs: calc(var(--space) * 0.25);
  --space-s: calc(var(--space) * 0.5);
  --space-l: calc(var(--space) * 1.5);
  --space-xl: calc(var(--space) * 2.25);
  --space-xxl: calc(var(--space) * 4.5);

  /* Colours */
  --light-foreground: hsl(28, 5%, 16%);
  --light-background: hsl(28, 5%, 99%);
  --light-accent: hsl(20, 100%, 40%);
  --light-border: hsl(28, 5%, 90%);

  --dark-foreground: hsl(210, 15%, 85%);
  --dark-background: hsl(210, 20%, 8%);
  --dark-accent: hsl(28, 80%, 60%);
  --dark-border: hsl(28, 5%, 16%);

  --foreground: var(--light-foreground);
  --background: var(--light-background);
  --border: var(--light-border);
  --accent: var(--light-accent);

  /* Logo size */
  --logo-size: 28px;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground: var(--dark-foreground); */
/*     --background: var(--dark-background); */
/*     --border: var(--dark-border); */
/*     --accent: var(--dark-accent); */
/*   } */
/* } */

/*******************************************************************************
 * Base
 ******************************************************************************/

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Wrapping */
p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  hyphens: auto;
  margin-block-start: 0;
}

/* Headings */
h1,
h2,
h3,
h4 {
  font-family: var(--font-stack);
  line-height: calc(2px + 2ex + 2px);
  margin-block-end: var(--space-l);
  max-width: 28ch;
}

h1 {
  font-size: var(--font-size-xxl);
  max-width: 20ch;
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size);
}

/* Blocks */
p,
ul,
ol,
dl {
  margin: 0 0 var(--space);
}

/* Lists */
ol,
ul {
  padding-inline-start: var(--space-l);
}

dt,
dd {
  margin-inline: 0;
}

dt {
  font-size: inherit;
  font-weight: 700;
  margin-block-end: 0;
}

dd {
  margin-block-end: var(--space-s);
}

/* Media */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Links */
a {
  color: currentColor;
  font-weight: 700;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.3ex;
}

a:hover,
a:focus {
  color: var(--accent);
}

/*******************************************************************************
 * Body
 ******************************************************************************/

body {
  font-size: var(--font-size);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-stack);
}


/*******************************************************************************
 * Header
 ******************************************************************************/

body>header {
  display: flex;
  gap: var(--space);
  align-items: center;

  a {
    text-decoration: none;

    &[aria-current] {
      color: var(--accent);
    }
  }

  svg {
    display: block;
  }

  nav>ul {
    display: flex;
    gap: 0 var(--space);
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

body>footer {
  display: flex;
  font-size: var(--font-size-xs);

  p {
    margin-block-end: 0;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li::before {
      content: "•" / "";
      padding: 0 var(--space-xs);
    }
  }

  a {
    font-weight: unset;
    text-decoration-thickness: unset;
    text-decoration-color: unset;
  }
}


/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--space-xl);

  max-width: 64rem;
  min-height: 100vh;
  min-height: 100dvh;
  margin: 0 auto;
  padding: var(--space);

}

@media (min-width: 32rem) {
  body {
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    padding: var(--space-xl);
    padding-block-end: var(--space);

    >header {
      gap: calc(var(--space-l) + 0.4rem);
      padding-block-start: var(--space-s);
    }

    >header,
    >header>nav>ul {
      flex-direction: column;
      align-items: flex-start;
    }

    >footer {
      grid-column-start: 2;
    }
  }
}

@media (min-width: 64rem) {
  body {
    gap: var(--space-xl) var(--space-xxl);
    padding: var(--space-xxl);
    padding-block-end: var(--space);
  }
}

/*******************************************************************************
 * Utils
 ******************************************************************************/

[hidden] {
  display: none;
}

/*******************************************************************************
 * Global Overrides
 ******************************************************************************/

/* Focus */
*:focus-visible {
  outline: 0.25ex solid var(--accent);
  outline-offset: 0.1rem;
  text-decoration: none;
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
