/*******************************************************************************
 * Base
 ******************************************************************************/

/* Box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Wrapping */
p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  hyphens: auto;
  margin-block-start: 0;
}

/* Headings */
h1,
h2,
h3,
h4 {
  font-family: var(--font-stack);
  line-height: calc(2px + 2ex + 2px);
  margin-block-end: 0.65em;
  max-width: 28ch;
}

h1 {
  font-size: var(--font-size-xxl);
  max-width: 20ch;
  font-weight: 900;
}

h2 {
  font-size: var(--font-size-xl);
}

h3 {
  font-size: var(--font-size-l);
}

h4 {
  font-size: var(--font-size);
}

/* Blocks */
p,
ul,
ol,
dl,
dt,
dd,
blockquote,
pre,
table,
figure {
  margin: 0 0 var(--space);
}

/* Lists */
/* th, */
dt {
  font-size: inherit;
  font-weight: 700;
}

dt {
  margin-block-end: 0;
}

ol,
ul {
  padding-inline-start: var(--space-l);
}

/* Media */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Links */
a {
  color: currentColor;
  font-weight: 700;
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.2ex;

  &:hover,
  &:focus {
    color: var(--accent);
  }
}

/* Body */
body {
  font-size: var(--font-size);
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-stack);
}

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: var(--space-l);
  min-height: 100vh;
  min-height: 100dvh;
  max-width: 64rem;
  margin: 0 auto;

  >main {
    max-width: 48rem;
  }

  >header,
  >main,
  >footer {
    padding-inline: var(--space);
  }

  @media (min-width: 32rem) {

    >main,
    >footer {
      padding-inline: calc(var(--space) + 28px + var(--space));
    }
  }
}

/*******************************************************************************
 * Header
 ******************************************************************************/

body>header {
  display: flex;
  align-items: center;
  gap: var(--space);
  padding-block: var(--space);

  a {
    text-decoration: none;

    &[aria-current] {
      color: var(--accent);
    }
  }

  svg {
    display: block;
  }

  nav>ul {
    display: flex;
    gap: 0 var(--space);
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

body>footer {
  padding-block: var(--space);
  font-size: var(--font-size-xs);

  p {
    margin-block-end: var(--space-s);
  }

  a {
    font-weight: unset;
    text-decoration-thickness: unset;
    text-decoration-color: unset;
  }
}

/*******************************************************************************
 * Tables
 ******************************************************************************/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: var(--font-size-s);
}

th,
td {
  text-align: start;
  padding: var(--space-s);
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

thead {
  border-block-end: 2px solid var(--border);
}

tbody tr {
  border-block-end: 1px solid var(--border);
}

/*******************************************************************************
 * Article
 ******************************************************************************/

article>header p:first-of-type {
  font-weight: 700;
}
