/*******************************************************************************
 * Defaults
 ******************************************************************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*******************************************************************************
 * Typography
 ******************************************************************************/

:root {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-stack);
}

body {
  font-size: var(--size-0);
  font-weight: var(--font-weight-normal);
  line-height: 1.5;
  letter-spacing: var(--letter-spacing-0);
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

h1,
h2,
h3,
p,
ul,
ol,
dl,
dt,
dd,
blockquote,
pre,
table,
figure {
  margin: 0 0 var(--size-1);
}

h1,
h2,
h3 {
  font-size: inherit;
  font-weight: var(--font-weight-bold);
  line-height: 1;
  max-width: 28ch;
  margin-block-end: var(--size--2);
}

h1 {
  font-size: var(--size-4);
  font-weight: var(--font-weight-black);
  letter-spacing: var(--letter-spacing-4);
  max-width: 20ch;
}

h2 {
  font-size: var(--size-2);
  letter-spacing: var(--letter-spacing-2);
}

th,
dt,
strong,
b {
  font-size: inherit;
  font-weight: var(--font-weight-bold);
}

dt {
  margin-block-end: 0;
}

ol,
ul {
  padding-inline-start: var(--size-2);
}

/*******************************************************************************
 * Links
 ******************************************************************************/

a {
  color: currentColor;
  font-weight: var(--font-weight-bold);
  text-decoration-color: var(--accent);
  text-decoration-thickness: 0.25ex;
  text-underline-offset: 0.2ex;
}

a:hover,
a:focus {
  color: var(--accent);
}

*:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 0.1rem;
}

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  max-width: var(--page-max-width);
  margin: 0 auto;
}

/*******************************************************************************
 * Header
 ******************************************************************************/

body>header {
  display: flex;
  align-items: center;
  padding: var(--size--1);
  gap: var(--size--1);
  margin-block-end: var(--size-1);
}

body>header a {
  text-decoration: none;
}

body>header [aria-current] {
  color: var(--accent);
}

body>header svg {
  display: block;
}

/*******************************************************************************
 * Main Content
 ******************************************************************************/

main {
  align-self: center;
  padding-inline: var(--size--1);
  max-width: var(--page-content-max-width);
}

@media (min-width: 32rem) {
  main {
    padding-inline: var(--page-left-gutter);
  }
}

*:is(main, article, footer, dl)>*:last-child {
  margin-block-end: 0;
}

.wrapper-narrow {
  max-width: var(--page-content-narrow-max-width);
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

body>footer {
  font-size: var(--size--1);
  letter-spacing: var(--letter-spacing--1);
  margin-block-start: var(--size-3);
  padding-inline: var(--size--1);
  padding-block-end: var(--size--1);
}

body>footer p {
  margin-block-end: var(--size--2);
}

body>footer span {
  font-weight: var(--font-weight-bold);
}

body>footer a {
  font-weight: inherit;
  text-decoration-thickness: inherit;
  text-decoration-color: inherit;
}

@media (min-width: 32rem) {
  body>footer {
    padding-inline-start: var(--page-left-gutter);
  }
}

/*******************************************************************************
 * Tables
 ******************************************************************************/

table {
  max-width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
  padding: var(--size--2);
  padding-inline-start: 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

thead {
  border-block-end: 2px solid var(--border);
}

tbody tr {
  border-block-end: 1px solid var(--border);
}

/*******************************************************************************
 * Article
 ******************************************************************************/

article>header p:first-of-type {
  font-weight: var(--font-weight-bold);
}

/*******************************************************************************
 * Utils
 ******************************************************************************/

[hidden] {
  display: none;
}
