/*******************************************************************************
 * Variables
 ******************************************************************************/

:root {
  /* Sizes */
  --size--2: 0.5rem;
  --size--1: 0.8rem;
  --size-0: 1rem;
  --size-1: 1.25rem;
  --size-2: 1.5rem;
  --size-3: 2rem;
  --size-4: 4rem;

  /* Page */
  --page-max-width: 75rem;
  --page-content-max-width: 60rem;
  --page-content-narrow-max-width: 48rem;
  --page-left-gutter: calc(var(--size--1) + 28px + var(--size--1));

  /* Colours */
  --foreground: #111;
  --background: #fefefe;
  --accent: #d14600;
  --border: #ececec;

  /* Font stack */
  --font-stack: ui-sans-serif, system-ui, sans-serif;

  /* Font weights */
  /* --font-weight-light: 300; */
  --font-weight-normal: 400;
  /* --font-weight-semi-bold: 600; */
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Letter spacing */
  --letter-spacing--1: -0.0025em;
  --letter-spacing-0: -0.011em;
  --letter-spacing-2: -0.019em;
  --letter-spacing-4: -0.022em;
}
