/* ==========================================================================
   Settings
   ========================================================================== */

/* Colours */
$darker-grey:  lighten(#000, 13.5%); // #222
$dark-grey:    lighten(#000, 20%);   // #333
$grey:         lighten(#000, 33.5%); // #555
$light-grey:   lighten(#000, 60%);   // #999
$lighter-grey: lighten(#000, 93.5%); // #eee
$off-white:    lighten(#000, 97%);   // #f7f7f7

$red: #C83D3D;

$background-colour: $off-white;

$text-colour: #454C54;
$link-colour: $red;
$link-focus-colour: darken($link-colour, 12);

/* Typography */
$heading-font-family: 'Roboto Slab', serif;
$heading-bold: 700;
$body-font-family: 'Open Sans', sans-serif;

$line-height: 1.5;

$font-size: 100%;
$font-size-sm: $font-size * 0.8;
$font-size-lg: $font-size * 1.25;
$font-size-xl: $font-size * 1.75;

/* Metrics */
$_size: $line-height;

$spacing:        $_size + 0em;
$quater-spacing: $spacing * 0.25;
$half-spacing:   $spacing * 0.5;
$double-spacing: $spacing * 2;

/* Transitions */
$fade-speed: 0.3s;
$transition-timing-function: ease;

/* Media Query Sizes */
$sm-page: 480px;
$md-page: 768px;
$lg-page: 1024px;
$xl-page: 1280px;



/* ==========================================================================
   Mixins
   ========================================================================== */

$divider: 2px solid #e7e7e7;




/* ==========================================================================
   Styles
   ========================================================================== */

@import 'modules/base';
@import 'modules/box-sizing';

@import 'modules/typography';
@import 'modules/links';
@import 'modules/headings';
@import 'modules/lists';

@import 'modules/header';
@import 'modules/page';
@import 'modules/services';
@import 'modules/footer';

@import 'modules/helpers';
@import 'modules/print';
