<ul {% if include.id %}id="{{ include.id }}" {% endif %}class="contact inline-list">
  {% for link in site.data.contact %}
    {% assign id = link[0] %}
    {% assign title = link[1].title %}
    {% assign url = link[1].url | liquify %}
    {% assign imgURL = site.baseurl | append: '/img/icons.svg#' | append: id %}
    {% assign rel = link[1].rel %}
    {% assign classNames = link[1].classNames | join: ' ' %}

    <li>
      <a href="{{ url }}"{% if rel %} rel="{{ rel }}"{% endif %}{% if classNames%} class="{{ classNames }}"{% endif %}>
        <svg role="img" title="{{ title }}">
          <use xlink:href="{{ imgURL }}"></use>
        </svg>
      </a>
    </li>
  {% endfor %}
</ul>
