<ul {% if include.id %}id="{{ include.id }}" {% endif %}class="contact inline-list">
  {% for link in site.data.contact %}
    {% assign id = link[0] %}
    {% assign title = link[1].title %}
    {% assign url = link[1].url | liquify %}
    {% assign imgURL = site.baseurl | append: '/img/icons.svg#' | append: id %}

    <li class="contact__item">
      <a class="contact__link link--inconspicuous link--zoom" href="{{ url }}" rel="me">
        <svg role="img" title="{{ title }}" class="icon icon--lg">
          <use xlink:href="{{ imgURL }}"></use>
        </svg>
      </a>
    </li>
  {% endfor %}
</ul>
