:root {
  /* --foreground: #363d49; */
  --foreground: #000;
  --background: #fff;
  --accent: #d43900;
  --border: #d1d6e0;

  --space: 1rem;
  --half-space: calc(var(--space) / 2);
  --quarter-space: calc(var(--space) / 4);
  --double-space: calc(var(--space) * 2);
  --font-size: 1rem;
  --font-size-sm: calc(var(--font-size) * 0.8);
  --font-size-lg: calc(var(--font-size) * 1.4);
  --font-size-xl: calc(var(--font-size) * 2.8);
  --font-weight-light: 200;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-max: 900;
  --font-stretch-max: 125%;
  --transition: 0.15s ease-in-out;
}

/* @media (prefers-color-scheme: dark) { */
  /* :root { */
    /* --foreground: #d1d6e0; */
    /* --background: #1b1d22; */
    /* --accent: #ff9e66; */
    /* --border: #4c5667; */
  /* } */
/* } */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*******************************************************************************
 * Fonts
 ******************************************************************************/

/* Font subset with https://github.com/zachleat/glyphhanger */
@font-face {
  font-family: "Mona Sans";
  src: url("/fonts/Mona-Sans-subset.woff2") format("woff2 supports variations"),
       url("/fonts/Mona-Sans-subset.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
  unicode-range: U+20,U+23,U+25,U+27-29,U+2C-3A,U+41-50,U+52-57,U+59,U+61-69,U+6B-70,U+72-7A,U+A9,U+F6,U+2019;
  font-display: swap;
}

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--space);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: "Mona Sans", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 40rem) {
  body {
    row-gap: var(--double-space);
  }
}

/*******************************************************************************
 * Typography
 ******************************************************************************/

h1 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-max);
  font-stretch: var(--font-stretch-max);
  line-height: 1.1;
}

h2, dt, b, strong, th {
  margin: 0;
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
  font-stretch: var(--font-stretch-max);
}

p,
ul,
ol,
dl {
  margin: 0 0 var(--space);
}

b, strong, th {
  font-size: inherit;
}

dt {
  font-size: inherit;
}

dd {
  margin: 0 0 var(--space);
}

/*******************************************************************************
 * Links
 ******************************************************************************/

a {
  color: inherit;
  font-weight: var(--font-weight-bold);
  text-decoration-color: var(--accent);
  text-decoration-thickness: 2px;
}

a:hover, a:focus {
  color: var(--accent);
}

/*******************************************************************************
 * Media
 ******************************************************************************/

img {
  height: auto;
  max-width: 100%;
}

/*******************************************************************************
 * Main
 ******************************************************************************/

main {
  padding: 0 var(--space);
  align-self: center;
}

main > article > header {
  margin-bottom: var(--double-space);
}

main > article > header p {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-light);
}

main > article > footer {
  margin-top: var(--double-space);
  font-weight: var(--font-weight-light);
}

/*******************************************************************************
 * Tables
 ******************************************************************************/

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: start;
  padding: var(--half-space) var(--half-space) var(--half-space) 0;
}

th:last-child,
td:last-child {
  padding-inline-end: 0;
}

tbody tr {
  border-top: 1px solid var(--border);
}

tbody tr:first-child {
  border-width: 2px;
}

/*******************************************************************************
 * Utils
 ******************************************************************************/

[hidden] {
  display: none;
}
