:root {
  --foreground: hsl(218, 15%, 25%);
  --background: hsl(0, 0%, 100%);
  --accent: hsl(17, 100%, 43%);
  --divider: hsl(220, 19%, 85%);

  --space: 1rem;
  --half-space: calc(var(--space) / 2);
  --quarter-space: calc(var(--space) / 4);
  --double-space: calc(var(--space) * 2);
  --font-size: 1rem;
  --font-size-sm: calc(var(--font-size) * 0.8);
  --font-size-lg: calc(var(--font-size) * 1.2);
  --font-size-xl: calc(var(--font-size) * 1.8);
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --transition: 0.15s ease-in-out;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: hsl(220, 19%, 85%);
    --background: hsl(223, 11%, 12%);
    --accent: hsl(22, 100%, 70%);
    --divider: hsl(218, 15%, 35%);
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*******************************************************************************
 * Layout
 ******************************************************************************/

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: var(--space);
  margin: 0;
  padding: var(--space) var(--space) 0;
  min-height: 100vh;
  color: var(--foreground);
  background: var(--background);
  font-family: "Avenir Next", Avenir, sans-serif;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 40rem) {
  body {
    row-gap: var(--double-space);
  }
}

/*******************************************************************************
 * Header
 ******************************************************************************/

[role="navigation"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
#logo {
  transition: all var(--transition);
}

#logo:focus,
#logo:hover {
  transform: scale3d(1.1, 1.1, 1);
}

#logo > svg {
  display: block;
  width: 2rem;
  height: 2rem;
}

@media (prefers-reduced-motion) {
  #logo:focus,
  #logo:hover {
    transform: none;
  }
}

/* Navigation */
[role="navigation"] ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
}

[role="navigation"] li {
  margin-left: var(--space);
}

[role="navigation"] li a {
  text-decoration: none;
  padding: var(--space) 0;
}

/*******************************************************************************
 * Main
 ******************************************************************************/

main {
  min-width: 0;
  align-self: center;
}

main > .content {
  max-width: 36rem;
  margin: 0 auto;
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

[role="contentinfo"] {
  line-height: 1;
}

.footer {
  font-size: var(--font-size-sm);
  text-align: center;
}

.footer p {
  word-break: keep-all;
}

.footer ul {
  display: flex;
  justify-content: center;
  margin: 0 0 var(--space);
  padding: 0;
  list-style: none;
}

.footer li:not(:first-child) {
  margin-left: var(--space);
}

@media (min-width: 40rem) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}

/*******************************************************************************
 * Typography
 ******************************************************************************/

h1 {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: 1;
  font-weight: var(--font-weight-bold);
}

p {
  margin: 0 0 var(--space);
}

.meta-text {
  font-size: var(--font-size-sm);
}

/*******************************************************************************
 * Links
 ******************************************************************************/

a {
  color: var(--accent);
  text-decoration: underline;
  -webkit-text-decoration-color: var(--divider);
  text-decoration-color: var(--divider);
  transition: all var(--transition);
}

a:focus,
a:hover,
a.active {
  -webkit-text-decoration-color: currentColor;
  text-decoration-color: currentColor;
}

a.subtle-link {
  color: currentColor;
}
a.subtle-link:focus,
a.subtle-link:hover,
a.subtle-link.active {
  color: var(--accent);
}

@media (prefers-reduced-motion) {
  a {
    transition: none;
  }
}

/*******************************************************************************
 * Media
 ******************************************************************************/

img {
  max-width: 100%;
  height: auto;
}

/*******************************************************************************
 * Tables
 ******************************************************************************/

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table .numeric-value,
table .date-value {
  text-align: right;
}

thead th {
  padding: var(--half-space) var(--half-space) var(--half-space) 0;
}

thead th:last-child {
  padding-right: 0;
}

tbody {
  font-size: var(--font-size-sm);
}

tr {
  border-bottom: 1px solid var(--divider);
}

tbody tr:last-child {
  border: none;
}

tbody td {
  padding: var(--quarter-space) var(--quarter-space) var(--quarter-space) 0;
}

tbody td:last-child {
  padding-right: 0;
}

tbody a {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

/*******************************************************************************
 * Lists
 ******************************************************************************/

dt {
  font-weight: var(--font-weight-bold);
}

dd {
  margin: 0 0 var(--space);
}

.page-header {
  margin-bottom: var(--double-space);
}

.page-header .subtitle {
  margin-top: var(--half-space);
}

.page-footer {
  margin-top: var(--double-space);
}

/*******************************************************************************
 * Home
 ******************************************************************************/

.footer--home {
  margin: 0 auto;
  max-width: calc(var(--space) * 36);
}

.footer--home ul {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 var(--double-space);
  padding: 0;
  list-style: none;
  z-index: 1;
}

.footer--home li {
  transition: all var(--transition);
}

.footer--home a {
  display: inline-block;
  padding: var(--half-space);
}

.footer--home svg {
  width: 2rem;
  height: 2rem;
}

.footer--home a:focus,
.footer--home a:hover {
  transform: scale3d(1.2, 1.2, 1);
}

@media (prefers-reduced-motion) {
  .footer--home a:focus,
  .footer--home a:hover {
    transform: none;
  }
}

.footer--home img {
  display: block;
  margin: 0 auto;
  max-width: 18.75rem;
}

@media (min-width: 40rem) {
  .footer--home li:nth-child(1) {
    transform: translate3d(2.3em, 12.3em, 0);
  }
  .footer--home li:nth-child(2) {
    transform: translate3d(-2em, 3.8em, 0);
  }
  .footer--home li:nth-child(4) {
    transform: translate3d(2em, 3.8em, 0);
  }
  .footer--home li:nth-child(5) {
    transform: translate3d(-2.3em, 12.3em, 0);
  }
}

/*******************************************************************************
 * Brew log
 ******************************************************************************/

.brew-log tbody td abbr {
  display: none;
}

/* using max-width to reduce overriding and resetting */
@media (max-width: 40rem) {
  .brew-log thead {
    display: none;
  }

  .brew-log tbody tr {
    display: flex;
    flex-wrap: wrap;
  }

  .brew-log tbody td {
    width: 50%;
  }

  .brew-log tbody td[class$="-value"] {
    width: 25%;
    padding-top: 0;
  }

  .brew-log tbody td.numeric-value {
    text-align: left;
  }

  .brew-log tbody td abbr {
    display: initial;
  }
}

/*******************************************************************************
 * Beer batch
 ******************************************************************************/

.beer-batch {
  display: grid;
  align-items: center;
}

.beer-batch-details {
  position: relative;
  z-index: 1;
}

.beer-batch-info {
  margin: var(--quarter-space) 0;
  font-weight: 300;
  text-transform: uppercase;
}

.beer-batch-stats {
  margin: var(--space) 0;
}

.beer-batch-ingredients,
.beer-batch-ingredients dd:last-child {
  margin: 0;
}

.beer-batch-image {
  display: block;
  margin: 0 auto;
}

.beer-batch-image img {
  filter: none;
}

@media (min-width: 40rem) {
  .beer-batch {
    grid-column-gap: var(--space);
    grid-template-columns: 12.5rem auto;
  }

  .beer-batch-details {
    grid-column: 2;
  }

  .beer-batch-image {
    grid-column: 1;
    grid-row: 1;
    margin-top: -2.1875rem;
    margin-right: -2.1875rem;
    margin-bottom: -2.1875rem;
    margin-left: -2.1875rem;
    max-width: 16.875rem;
  }
}
