{% macro batchSummary(batch) %}
  <article id="beer-batch-{{ batch.id }}" class="beer-batch">
    <header>
      <h1>{{ name(batch) }}</h1>
      <p>{{ style(batch) }}</p>
      <p>{{ brewDate(batch) }}</p>
    </header>

    <div class="beer-batch-info">
      <div class="beer-batch-stats">
        {{ stats(batch) }}
      </div>

      <div class="beer-batch-ingredients">
        {{ ingredients(batch) }}
      </div>
    </div>
  </article>
{% endmacro %}

{% macro name(recipe, className = 'beer-name') %}
  <span class="{{ className }}">
    {{ recipe.name }}
  </span>
{% endmacro %}

{% macro style(recipe, classstyle = 'beer-style') %}
  <span class="{{ classstyle }}">
    {{ recipe.style }}
  </span>
{% endmacro %}

{% macro abv(recipe, className = 'beer-abv') %}
  <span class="{{ className }}">
    {{ recipe.abv }}
    <abbr title="Alcohol by volume">ABV</abbr>
  </span>
{% endmacro %}

{% macro ibu(recipe, className = 'beer-ibu') %}
  <span class="{{ className }}">
    {{ recipe.ibu }}
    {% if recipe.ibu !== '-' %}
      <abbr title="International Bittering Units">IBU</abbr>
    {% endif %}
  </span>
{% endmacro %}

{% macro ebc(recipe, className = 'beer-ebc') %}
  <span class="{{ className }}">
    {{ recipe.ebc }}
    {% if recipe.ebc !== '-' %}
      <abbr title="European Brewery Convention">EBC</abbr>
    {% endif %}
  </span>
{% endmacro %}

{% macro brewDate(recipe, className = 'beer-date') %}
  <span class="{{ className }}">
    <time datetime="{{ recipe.brewDate | machineDate }}" title="{{ recipe.brewDate | humanDate }}">{{ recipe.brewDate | shortDate }}</time>
  </span>
{% endmacro %}

{% macro stats(recipe, className = 'beer-ingredients') %}
  <dl class="{{ className }}">
    <dt>Alcohol</dt>
    <dd>{{ abv(recipe) }}</dd>

    <dt>Bitterness</dt>
    <dd>{{ ibu(recipe) }}</dd>

    <dt>Color</dt>
    <dd>{{ ebc(recipe) }}</dd>
  </dl>
{% endmacro %}

{% macro ingredients(recipe, className = 'beer-ingredients') %}
  <dl class="{{ className }}">
    {% if recipe.fermentables.length %}
      <dt>Fermentables</dt>
      <dd>{{ recipe.fermentables | join(', ') }}</dd>
    {% endif %}

    {% if recipe.hops.length %}
      <dt>Hops</dt>
      <dd>{{ recipe.hops | join(', ') }}</dd>
    {% endif %}

    {% if recipe.yeasts.length %}
      <dt>Yeast</dt>
      <dd>{{ recipe.yeasts | join(', ') }}</dd>
    {% endif %}
  </dl>
{% endmacro %}
