{% macro list(entries, page, header = true, linkClassName = 'subtle-link') %}
  <ul>
    {%- for entry in entries %}
      {%- if header and entry.skipHeader %}
      {%- else %}
        {# The current link points to the current page #}
        {% if (entry.url == '/' and entry.url == page.url) or (entry.url != '/' and page.url.startsWith(entry.url)) %}
          {% set current = true %}
        {% endif %}

        <li>
          <a href="{{ entry.url }}" {% if linkClassName %} class="{{ linkClassName }}"{% endif %} {% if current %} aria-current="page"{% endif %}>
            {{ entry.title }}
          </a>
        </li>
      {%- endif %}
    {%- endfor %}
  </ul>
{% endmacro %}
