{% macro list(entries, page, linkClassName = 'subtle-link') %}
  <ul>
    {%- for entry in entries %}
      {# The current link points to the current page #}
      {% if (entry.url == '/' and entry.url == page.url) or (entry.url != '/' and page.url.startsWith(entry.url)) %}
        {% set current = true %}
      {% endif %}

      <li>
        <a href="{{ entry.url }}" {% if linkClassName %} class="{{ linkClassName }}"{% endif %} {% if current %} aria-current="page"{% endif %}>
          {{ entry.title }}
        </a>
      </li>
    {%- endfor %}
  </ul>
{% endmacro %}

{% macro header(entries, page) %}
  {{ list(entries | selectattr("header"), page) }}
{% endmacro %}

{% macro footer(entries, page) %}
  {{ list(entries, page) }}
{% endmacro %}
