@font-face {
  font-family: silkscreen;
  src: url("/fonts/Silkscreen-Regular-subset.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: silkscreen;
  src: url("/fonts/Silkscreen-Bold-subset.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
}

:root {
  --background: #f0cc52;
  --foreground: #512D19;
  --accent: #644f80;
}

body {
  font-family: silkscreen, system-ui, -apple-system, sans-serif;
  letter-spacing: -1.5px;
}

.batch-short-stack > header {
  font-size: var(--step-1);
}

.batch-short-stack > footer {
  background: var(--accent);
  color: hsla(0, 0%, 100%, 0.85);
  box-shadow: 0 2px 0 hsla(0, 0%, 0%, 0.2) inset;
  border-block-start: 2px solid black;
}
