/* ==========================================================================
   Variables
   ========================================================================== */

/**
 * Modular Scale
 * http://www.modularscale.com/?1,3.125&rem&1.618&sass&text
 */

@import "node_modules/modularscale-sass/stylesheets/modular-scale";

$ms-base: 1rem, 3.125rem;
$ms-ratio: 1.618;


/**
 * Typography
 */

// Font families
$font-family: 'Avenir Next', 'Avenir', 'Open Sans', 'Helvetica Neue', sans-serif;
$font-family-monospace: 'Menlo', 'Monaco', monospace;

// Font scaling
$font-scale-xxs: 85%;
$font-scale-xs:  90%;
$font-scale-sm:  95%;
$font-scale-md:  100%;
$font-scale-lg:  105%;
$font-scale-xl:  110%;

// Font sizes
$font-size-h1:    ms(5);
$font-size-h2:    ms(4);
$font-size-h3:    ms(3);
$font-size-h4:    ms(2);
$font-size-h5:    ms(1);
$font-size-h6:    ms(0);
$font-size:       ms(0);
$font-size-small: ms(-1);

// Line height
$line-height: $ms-ratio;

// Font weights
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   600;


/**
 * Metrics
 */

$size:         ms(2);
$double-size:  $size * 2;
$triple-size:  $size * 3;
$half-size:    $size / 2;
$quarter-size: $size / 4;


/**
 * Breakpoints
 */

$break-xs: 20em; // 320
$break-sm: 30em; // 480
$break-md: 40em; // 640
$break-lg: 48em; // 768
$break-xl: 64em; // 1024


/**
 * Colours
 */

// Colours
$red:      #c0392b;
$dark-red: darken($red, 8);

// Greys
$lighter-grey: #f2f3f5;
$light-grey:   #6e6e6e;
$grey:         #424752;
$dark-grey:    #2b303b;

// Assignment
$accent:      $red;
$accent-dark: $dark-red;


/**
 * Effects
 */

$border-radius:    2px;
$box-shadow:       0 0 3px rgba(0, 0, 0, 0.2);
$thin-line-weight: 3px;

// Transitions
$fade-duration:        0.3s;
$fade-timing-function: ease;
