/*******************************************************************************
 * Brew log
 ******************************************************************************/

.brew-log {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*******************************************************************************
 * Brew Log Batch
 ******************************************************************************/

.beer-batch {
  --vertical-gap: var(--quarter-space);
  padding-left: var(--quarter-space);
  border-bottom: 1px solid var(--border);
  margin-bottom: var(--vertical-gap);
  font-size: var(--font-size-sm);
}

.beer-batch summary {
  list-style-position: outside;
}

.beer-batch :is(dl, dt) {
  margin: 0;
}

.beer-batch dd {
  margin-bottom: var(--vertical-gap);
}

.beer-summary-header {
  display: flex;
  flex-grow: 1;
  gap: var(--half-space);
}

.beer-summary-name {
  font-size: inherit;
}

.beer-summary-style {
  margin-bottom: var(--vertical-gap);
}

.beer-summary-stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 var(--quarter-space);
  list-style: none;
  margin-bottom: var(--vertical-gap);
  padding: 0;
}

.beer-summary-stats li:last-child {
  text-align: end;
}

.beer-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--quarter-space);
}

@media (min-width: 40rem) {
  .beer-summary {
    display: flex;
    text-align: end;
  }
}
