/*******************************************************************************
 * Theme
 ******************************************************************************/

:root {
  /* --line-height: 1.4; */
  --size: calc(var(--line-height) * 1em);
  --size-quarter: calc(var(--size) / 4);
  --size-half: calc(var(--size) / 2);
  --size-double: calc(var(--size) * 2);
  --size-quadruple: calc(var(--size) * 4);
  --font-size-sm: 80%;
  --opacity-light: 0.8;
  --opacity-xlight: 0.15;
  --transition-duration: 0.3s;
  --transition-function: ease;
  /* --foreground: #363d49; */
  /* --background: #fff; */
  /* --accent: #d93f00; */
}

/* @media (prefers-color-scheme: dark) { */
/* :root { */
/* --foreground: #d1d6e0; */
/* --background: #1b1d22; */
/* --accent: #ff9e66; */
/* } */

/* svg { */
/* filter: brightness(0.8) contrast(1.2); */
/* } */

/* img:not([src*='.svg']) { */
/* filter: grayscale(40%); */
/* } */
/* } */

/*******************************************************************************
 * Page
 ******************************************************************************/

/* html { */
/* box-sizing: border-box; */
/* } */
/* *, */
/* *:before, */
/* *:after { */
/* box-sizing: inherit; */
/* } */

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: calc(50vw - 19rem) auto calc(50vw - 19rem);
  grid-template-areas:
    'header header header'
    '. main .'
    '. footer .';
  grid-row-gap: var(--size);
  min-height: 100vh;
  margin: 0;
  padding: 0 var(--size-half);

  color: var(--foreground);
  background: var(--background);
  /* line-height: var(--line-height); */
  font-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
}

body > * {
  min-width: 0;
}

[role='banner'] {
  grid-area: header;
  padding: var(--size) var(--size-half) 0;
}

main {
  grid-area: main;
  align-self: center;
}

[role='contentinfo'] {
  grid-area: footer;
}

/*******************************************************************************
 * Elements
 ******************************************************************************/

h1,
h2,
h3 {
  margin: 0 0 var(--size-quarter);
}

/* p { */
/* margin: 0 0 var(--size); */
/* } */

/* a { */
/* color: var(--accent); */
/* text-decoration: none; */
/* } */

/* a:focus, */
/* a:hover, */
/* a.active { */
/* text-decoration: underline; */
/* } */

/* img { */
/* height: auto; */
/* max-width: 100%; */
/* } */

blockquote {
  position: relative;
  margin: var(--size);
  padding-left: var(--size);
  font-style: italic;
  opacity: var(--opacity-light);
}

blockquote::before {
  content: '';
  display: block;
  position: absolute;
  background: var(--foreground);
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
  opacity: var(--opacity-xlight);
}

pre {
  overflow: auto;
}

code {
  font-size: 1rem;
  color: var(--accent);
}

/* [hidden] { */
/* display: none; */
/* } */

/*******************************************************************************
 * Header
 ******************************************************************************/

[role='navigation'] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 2rem;
  color: var(--foreground);
  opacity: 0.8;
  transition: color var(--transition-duration) var(--transition-function);
}

#logo svg {
  display: block;
}

#logo:focus,
#logo:hover {
  color: var(--accent);
}

.nav-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 90%;
}

.nav-list li {
  margin-left: var(--size);
}

.nav-list a {
  padding: var(--size-half) 0;
}

/*******************************************************************************
 * Footer
 ******************************************************************************/

[role='contentinfo'] .u-photo {
  display: block;
  margin: auto;
}

.contact-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 var(--size);
  padding: 0;
  z-index: 1;
}

.contact-list li,
.contact-list a {
  display: inline-block;
  transition: transform var(--transition-duration) var(--transition-function),
    color var(--transition-duration) var(--transition-function);
}

.contact-list a {
  padding: var(--size-half);
  color: inherit;
}

.contact-list a:focus,
.contact-list a:hover {
  border: none;
  color: var(--accent);
  transform: scale(1.2);
}

.contact-list li svg {
  display: block;
  width: 2em;
  height: auto;
}

@media (min-width: 40em) {
  .contact-list li:nth-child(1) {
    transform: translate(2.5em, 12.3em);
  }
  .contact-list li:nth-child(2) {
    transform: translate(-1.9em, 3.8em);
  }
  .contact-list li:nth-child(4) {
    transform: translate(1.9em, 3.8em);
  }
  .contact-list li:nth-child(5) {
    transform: translate(-2.5em, 12.3em);
  }
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0s;
  }
  .contact-list a:focus,
  .contact-list a:hover {
    transform: none;
  }
}

/*******************************************************************************
 * Utility
 ******************************************************************************/

.rule-above {
  position: relative;
  padding-top: var(--size);
}
.rule-below {
  position: relative;
  padding-bottom: var(--size);
}
.rule-above:before,
.rule-below:after {
  content: '';
  display: block;
  position: absolute;
  background: var(--foreground);
  left: 0;
  width: 100%;
  height: 1px;
  opacity: var(--opacity-xlight);
}
.rule-above:before {
  top: 0;
}
.rule-below:after {
  bottom: 0;
}
