/*******************************************************************************
 * Posts
 ******************************************************************************/

.post-list main footer p {
  margin-bottom: var(--size-double);
  font-size: var(--font-size-sm);
  font-style: italic;
  text-align: center;
  opacity: var(--opacity-light);
}

.post-list main > header h1 {
  margin-bottom: var(--size-quarter);
}

.post-list main > header p {
  font-style: italic;
  margin-bottom: var(--size-double);
}

.post-list .post {
  margin-bottom: var(--size-quadruple);
}

.post header {
  margin-bottom: var(--size);
}

.post--micro header {
  margin-bottom: var(--size-half);
}

.post header h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.post header time {
  font-style: italic;
  font-size: var(--font-size-sm);
  opacity: var(--opacity-light);
}

.post header a {
  color: inherit;
}
