.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post {
  margin-bottom: 5rem;
}

.post img {
  display: block;
  margin: auto;
  box-shadow: 0 2px 16px hsla(0, 0%, 0%, 0.08);
}

.post > footer {
  margin-bottom: 0.5rem;
  font-style: italic;
  font-size: 80%;
  opacity: 0.9;
}

.post > footer a {
  color: inherit;
}
