.posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post {
  /* outline: 1px solid purple; */
  margin-bottom: 5rem;
}

.post > footer {
  margin-bottom: 0.5rem;
  font-style: italic;
  font-size: 80%;
  opacity: 0.9;
}

.post > footer a {
  color: inherit;
}
