/* ==========================================================================
   Footer
   ========================================================================== */

[role="contentinfo"] {
  color: $grey;
  padding-bottom: $spacing;
}

/* Copyright Information */
.copyright {
  display: block;
  text-align: center;

  a {
    font-weight: bold;
    color: $darker-grey;
  }
  a:hover,
  a:focus,
  a.active {
    text-decoration: underline;
  }

  .disclaimer,
  .location {
    display: block;
  }
}



/* Small Page */
@media only screen and (min-width: $sm-page) {
  .copyright .disclaimer {
    display: inline;
  }
}

/* Medium Page */
@media only screen and (min-width: $md-page) {
  .copyright .location {
    display: inline;
  }
}
