/* ==========================================================================
   Footer
   ========================================================================== */

[role="contentinfo"] {
  color: $grey;
  padding-bottom: $spacing;
}

/* Services */
.services {
  @extend .plain-list;
  text-align: center;

  li {
    display: inline-block;
    margin: $half-spacing;
  }
}

.services [class^="icon-"] {
  display: inline-block;
  width: 60px;
  height: 60px;

  text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

  background-position: 50%;
  opacity: 0.6;
  transition: opacity $fade-speed;

  &:hover {
    opacity: 1;
  }
}

/* Copyright Information */
.copyright {
  display: block;
  text-align: center;

  a {
    font-weight: bold;
    color: $darker-grey;
  }
  a:hover,
  a:focus,
  a.active {
    text-decoration: underline;
  }

  .disclaimer,
  .location {
    display: block;
  }
}



/* Small Page */
@media only screen and (min-width: $sm-page) {
  .copyright .disclaimer {
    display: inline;
  }
}

/* Medium Page */
@media only screen and (min-width: $md-page) {
  .copyright .location {
    display: inline;
  }
}
