/* ==========================================================================
   Header
   ========================================================================== */

[role="banner"] {
  margin-bottom: $spacing;
  padding: $spacing 0;
  text-align: center;
  border-bottom: $divider;
}

.title {
  font-size: $font-size-xl;

  a {
    color: $text-colour;
  }
}
