/* ==========================================================================
   Page
   ========================================================================== */

body {
  margin: auto;
  padding: 0 $half-spacing;
  max-width: $md-page;
}

[role="main"] {
  margin-top: $spacing;
}



/* Small Page */
@media only screen and (min-width: $sm-page) {
  body {
    padding: 0 $half-spacing;
  }
}

/* Large Page */
@media only screen and (min-width: $md-page) {
  body {
    padding: 0 $double-spacing;
  }
}
