/* ==========================================================================
   Services
   ========================================================================== */

.services {
  @extend .plain-list;
  text-align: center;

  li {
    display: inline-block;
    margin: $spacing $half-spacing;
  }
}

.services [class^="icon-"] {
  display: inline-block;
  width: 60px;
  height: 60px;

  text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;

  background-position: 50%;
  opacity: 0.6;
  transition: opacity $fade-speed;

  &:hover {
    opacity: 1;
  }
}
