/* ==========================================================================
   Typography
   ========================================================================== */

p {
  margin: 0 0 $spacing;
}

b, strong {
  font-weight: 600;
}

/* Small Page */
@media only screen and (min-width: $sm-page) {
  .intro {
    font-size: $font-size-lg;
  }
}
