/* ==========================================================================
   Main
   ========================================================================== */


$primary: #C83D3D;
$dark-primary: darken($primary, 8);

$light-grey: #ddd;
$mid-grey: #6E6E6E;
$dark-grey: #444;

$font-weight-normal: 400;
$font-weight-bold: 600;

$typography-font-family-sans: 'Avenir Next', 'Helvetica Neue', sans-serif;
$typography-body-color: $dark-grey;
$typography-heading-color: $dark-grey;

@import '../../bower_components/typographic-styles/src/typography';

$size: $typography-size;
$half-size: $size/2;
$double-size: $size*2;

$break-md: $typography-document-min-width-md;
$break-lg: $typography-document-min-width-lg;
$break-lx: $typography-document-min-width-xl;

@import 'components/mixins';

@import 'components/typography';
@import 'components/links';
@import 'components/lists';
@import 'components/media';

@import 'components/document';
@import 'components/banner';
@import 'components/contentinfo';

@import 'components/helpers';
