/* ==========================================================================
   Contact
   ========================================================================== */

.contact {
  margin: $size auto $double-size;
  text-align: center;

  &__item {

    @media only screen and (min-width: $break-sm) {
      &:nth-child(1) { transform: translate(-90px, 170px); }
      &:nth-child(2) { transform: translate(-90px, 50px); }
      &:nth-child(3) { transform: translate(0px, 0px); }
      &:nth-child(4) { transform: translate(90px, 50px); }
      &:nth-child(5) { transform: translate(90px, 170px); }
    }
  }

  &__link {
    padding: $half-size;
  }
}
