/* ==========================================================================
   Contact
   ========================================================================== */

.contact {
  margin: $double-size auto;
  text-align: center;

  &__link {
    padding: $half-size;
  }
}
