/* ==========================================================================
   Icon
   ========================================================================== */

.icon {
  width: $size;
  height: $size;

  &--sm {
    width:  $size * .7;
    height: $size * .7;
  }
}
