/* ==========================================================================
   Page
   ========================================================================== */

main {
  @include clearfix;

  max-width: $break-md;
  margin: auto;
  padding: 0 $half-size;
}
