/* ==========================================================================
   Page
   ========================================================================== */

main {
  @include clearfix;

  max-width: $break-md;
  margin: auto;
  padding: $size $half-size 0;

  @media only screen and (min-width: $break-md) {
    padding-top: $double-size;
  }

  @media only screen and (min-width: $break-lg) {
    padding-top: $triple-size;
  }
}
