/* ==========================================================================
   Document
   ========================================================================== */

html {
  color: $light-grey;
  background: $dark-grey;
}

body {
  color: $dark-grey;
  background: white;
}
