/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: $primary;
  text-decoration: none;
  transition: color $fade-duration $fade-timing-function;

  &:focus,
  &:hover {
    color: $primary-dark;
  }
}

.link--inconspicuous,
a:not([href]) {
  &,
  &:focus,
  &:hover {
    color: inherit;
  }
}
