/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: $primary;
  text-decoration: none;
  transition: color $fade-duration $fade-timing-function;

  &:focus,
  &:hover {
    color: $primary-dark;
  }
}

.link--inconspicuous,
a:not([href]) {
  &,
  &:focus,
  &:hover {
    color: inherit;
  }
}

h1, h2, h3, h4, h5, h6 {
  a {
    @extend .link--inconspicuous;
  }
}

.link--zoom {
  display: inline-block;
  transition-property: color, transform;
  transition-duration: $fade-duration;
  transition-timing-function: $fade-timing-function;

  &:focus,
  &:hover {
    transform: scale(1.3);
  }
}
