/* ==========================================================================
   Page
   ========================================================================== */

/**
 * Body
 */

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  padding: $double-size $half-size 0;
  max-width: $break-md;
  min-height: 100vh;

  color: $dark-grey;
  background: white;

  @media only screen and (min-width: $break-md) {
    padding-top: $triple-size;
  }
}


/**
 * vCard
 */

.p-family-name {
  @include visuallyhidden;
}


/**
 * Contact links
 */

.contact {
  margin: $size auto $double-size;
  padding: 0;
  list-style: none;
  text-align: center;

  /* Allow icons to fill the available space once they can all fit on one line */
  @media only screen and (min-width: $break-xs) {
    display: flex;
    justify-content: space-around;
  }

  /* remove flexbox so translate positioning is not effected */
  @media only screen and (min-width: $break-md) {
    display: block;
  }

  li {
    display: inline-block;

    /* position list items in a fan around portrait image */
    @media only screen and (min-width: $break-md) {
      &:nth-child(1) { transform: translate(-85px, 170px); }
      &:nth-child(2) { transform: translate(-95px, 45px); }
      &:nth-child(3) { transform: translate(0px, 0px); }
      &:nth-child(4) { transform: translate(95px, 45px); }
      &:nth-child(5) { transform: translate(85px, 170px); }
    }
  }

  a {
    @extend a:not([href]);

    display: inline-block;
    padding: $half-size;
    transition: transform $fade-duration $fade-timing-function;

    &:focus,
    &:hover {
      transform: scale(1.3);
    }
  }

  svg {
    width: $size * 1.3;
    height: $size * 1.3;
  }
}


/**
 * Portrait
 */

.u-photo {
  display: block;
  margin: auto;
}
