/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Document
 */

html {
  font-family: $font-family-primary;
  font-weight: $font-weight-normal;
  line-height: $line-height;

  /* Scale the root font size at different breakpoints */
  font-size: $font-scale-xxs;

  @media only screen and (min-width: $break-xs) {
    font-size: $font-scale-xs;
  }

  @media only screen and (min-width: $break-sm) {
    font-size: $font-scale-sm;
  }

  @media only screen and (min-width: $break-md) {
    font-size: $font-scale-md;
  }

  @media only screen and (min-width: $break-lg) {
    font-size: $font-scale-lg;
  }

  @media only screen and (min-width: $break-xl) {
    font-size: $font-scale-xl;
  }
}


/**
 * Headings
 */

h1, h2, h3, h4, h5, h6 {
  margin: $double-size 0 $half-size;
  font-weight: $font-weight-semibold;
  line-height: 1.1;
}

h1 {
  margin: $triple-size 0;
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
  color: $primary;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
  font-style: italic;
  font-weight: $font-weight-normal;
}

h6 {
  font-size: $font-size-h6;
}


/**
 * Blocks
 */

p, blockquote, figure,
ol, ul, dl,
table, pre {
  margin: 0 0 $size;
}


/**
 * Bold
 */

b, strong, th {
  font-weight: $font-weight-bold;
}


/**
 * Small
 */

small {
  font-size: $font-size-small;
}


/**
 * Quotes
 */

blockquote {
  margin: $size;
  padding-left: $half-size;
  padding-right: $size;
  border-left: $thin-line-weight solid $light-grey;
  font-style: italic;
  color: $grey;
}

q {
  quotes: "“" "”" "‘" "’";
}


/**
 * Horizontal Rule
 */

hr {
  margin: $double-size 0;
  border: 0;
  height: $thin-line-weight;
  background: $light-grey;
}


/**
 * Abbr
 */

abbr[title] {
  text-decoration: none;
}


/**
 * Code
 */

pre, code, kdb, samp, var {
  font-family: $font-family-monospace;
}

$_codeColour: $secondary;

code {
  color: $_codeColour;
}

$_preColour: #c5c8c6;
$_preBackgroundColour: #1d1f21;

pre {
  margin: $size 0;
  padding: $half-size;
  color: $_preColour;
  background: $_preBackgroundColour;
  box-shadow: $box-shadow;
  overflow: auto;

  code {
    color: inherit;
  }
}

.highlighter-rouge {
  font-size: 85%;

  code {
    color: inherit;
  }
}
