:root {
  --size: 1.618em;
  --colour-grey: #2b303b;
  --colour-primary: #c0392b;
  --colour-primary-dark: #962d22;
  --transition-duration: 0.3s;
  --transition-function: ease;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 85%;
}

@media only screen and (min-width: 20em) {
  html { font-size: 90%; }
}

@media only screen and (min-width: 30em) {
  html { font-size: 95%; }
}

@media only screen and (min-width: 40em) {
  html { font-size: 100%; }
}

@media only screen and (min-width: 48em) {
  html { font-size: 105%; }
}

@media only screen and (min-width: 64em) {
  html { font-size: 110%; }
}

html, body {
  margin: 0;
  color: var(--colour-grey);
  background: #fff;
  font-family: "Avenir Next", "Avenir", "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.618;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 40em;
  margin: auto;
  padding: 0 calc(var(--size) * 0.5);
}

section {
  display: block;
}

p {
  margin: 0 0 var(--size);
}

a {
  color: var(--colour-primary);
  transition: color var(--transition-duration) var(--transition-function);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:focus,
a:hover {
  color: var(--colour-primary-dark);
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden] {
  display: none;
}

.about {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: calc(var(--size) * 1.25);
}

@media only screen and (min-width: 40em) {
  .about {
    padding-top: calc(var(--size) * 2.25);
  }
}

.contact {
  padding-top: var(--size);
}

.contact-links {
  margin: calc(var(--size) * 1.75) 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-links li,
.contact-links a {
  display: inline-block;
  line-height: 1;
}

.contact-links a {
  padding: calc(var(--size) / 2);
  color: inherit;
  transition: transform var(--transition-duration) var(--transition-function);
}
.contact-links a:focus,
.contact-links a:hover {
  transform: scale(1.3);
}

.contact-links svg {
  width: 2.2em;
  height: 2.2em;
}

@media only screen and (min-width: 40em) {
  .contact-links li:nth-child(1) { transform: translate(50px, 190px); }
  .contact-links li:nth-child(2) { transform: translate(-30px, 55px); }
  .contact-links li:nth-child(4) { transform: translate(30px, 55px); }
  .contact-links li:nth-child(5) { transform: translate(-50px, 190px); }
}

.u-photo {
  display: block;
  margin: auto;
}
