<footer role="contentinfo">
  <div class="container">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon--pandy" role="presentation">
      <use xlink:href="/img/icons.svg#pandy"></use>
    </svg>

    <small class="copyright">
      &copy; <time class="copyright__date--est" datetime="{{ site.est }}-01-30T23:05:25+10:30">{{ site.est }}</time>&ndash;<time class="copyright__date--current" datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>
      <a class="copyright__link" href="{{ site.baseurl | prepend: site.url }}" rel="me">{{ site.author.name }}</a>. All rights reserved.
    </small>
  </div>
</footer>
