:root {
  --size: 1.618rem;
  --colour-grey: #151515;
  --colour-primary: #c0392b;
  --colour-primary-dark: #962d22;
  --transition-duration: 0.3s;
  --transition-function: ease;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  padding-top: calc(var(--size) / 2)
  font-size: 85%;
}

@media only screen and (min-width: 20em) {
  html { font-size: 90%; }
}

@media only screen and (min-width: 30em) {
  html { font-size: 95%; }
}

@media only screen and (min-width: 40em) {
  html { font-size: 100%; }
}

@media only screen and (min-width: 48em) {
  html { font-size: 105%; }
}

@media only screen and (min-width: 64em) {
  html { font-size: 110%; }
}

html, body {
  margin: 0;
  color: var(--colour-grey);
  background: #fff;
  font-family: "Avenir Next", "Avenir", "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.618;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
  max-width: 40em;
  margin: auto;
  padding: var(--size) calc(var(--size) / 2) 0;
}

@media only screen and (min-width: 40em) {
  main {
    padding-top: calc(var(--size) * 2);
  }
}

@media only screen and (min-width: 48em) {
  main {
    padding-top: calc(var(--size) * 3);
  }
}

p {
  margin: 0 0 var(--size);
}

a {
  color: var(--colour-primary);
  transition: color var(--transition-duration) var(--transition-function);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:focus,
a:hover {
  color: var(--colour-primary-dark);
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

[hidden] {
  display: none;
}

.contact {
  margin: calc(var(--size) * 2) 0;
  padding: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact li,
.contact a {
  display: inline-block;
  line-height: 1;
}

.contact a {
  padding: calc(var(--size) / 2);
  color: inherit;
  transition: transform var(--transition-duration) var(--transition-function);
}
.contact a:focus,
.contact a:hover {
  transform: scale(1.3);
}

.contact svg {
  width: 2.2rem;
  height: 2.2rem;
}

@media only screen and (min-width: 40em) {
  .contact {
    display: block;
  }

  .contact li:nth-child(1) { transform: translate(-85px, 170px); }
  .contact li:nth-child(2) { transform: translate(-95px, 45px); }
  .contact li:nth-child(3) { transform: translate(0px, 0px); }
  .contact li:nth-child(4) { transform: translate(95px, 45px); }
  .contact li:nth-child(5) { transform: translate(85px, 170px); }
}

.u-photo {
  display: block;
  margin: auto;
}
