/* ==========================================================================
   Links
   ========================================================================== */

a {
  color: $accent;
  text-decoration: none;
  @include simple-transition(color);

  &:focus,
  &:hover {
    color: $accent-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  > a,
  > a:hover,
  > a:focus {
    color: inherit;
  }
}