/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Custom bullets
 */

li {
  list-style: none;
  position: relative;

  &:before {
    position: absolute;
    left: -2.5rem; //-40px;
    width: 1.5625rem; //25px;
    text-align: right;
    color: $accent-dark;
  }
}

ul li:before {
  content: '\2022';
}

ol {
  counter-reset: list-number;

  li:before {
    counter-increment: list-number;
    content: counter(list-number) '.';
  }
}


/**
 * Nested lists
 */

ol ol, ol ul,
ul ul, ul ol {
  margin-bottom: 0;
}


/**
 * Definition lists
 */

dt {
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  color: $light-grey;
}

dd {
  margin: 0 0 $size;
}


/**
 * Blank lists
 */

.blank-list {
  padding: 0;
  list-style: none;

  li {
    &:before {
      display: none;
    }
  }
}


/**
 * Inline lists
 */

.inline-list {
  @extend .blank-list;

  li {
    display: inline-block;
  }
}


/**
 * Block grid overrides
 * Block grids expect `list-style: none`, but since we've
 * overridden bullet and numbering (above) we need to hide
 * the `:before` pseudoelement too.
 */

[class*="block-grid-"] li:before {
  display: none;
}
