/* ==========================================================================
   Media
   ========================================================================== */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}
