/* ==========================================================================
   Tables
   ========================================================================== */

table, caption {
  text-align: left;
}

caption {
  @extend h4;
}

th, td {
  padding: $half-size $size $half-size 0;
  &:last-child {
    padding-right: 0;
  }
}

thead {
  border-bottom: $thin-line-weight solid $lighter-grey;
}

tfoot {
  border-top: $thin-line-weight solid $lighter-grey;

  th {
    font-style: italic;
    font-weight: normal;
    font-size: $font-size-small;
    color: $light-grey;
  }
}

tbody tr {
  border-top: 1px solid $lighter-grey;
}
