---
pagination:
  data: beer.batches
  size: 1
  alias: batch
permalink: 'beer/batches/{{ batch._id }}/'
eleventyComputed:
  title: '{{ beer.title }} | {{ batch.recipe.name }}'
  description: '{{ beer.description }}'
---

<h1>
  {{ batch.recipe.name }}
  (<time datetime="{{ batch.brewDate | machineDate }}" title="{{ batch.brewDate | humanDate }}" class="">{{ batch.brewDate | humanDate }}</time>)
</h1>

<dl>
  <dt>Style</dt>
  <dd>{{ batch.recipe.style.name }}</dd>

  <dt>
    <abbr title="Alcohol by volume">ABV</abbr>
  </dt>
  <dd>{{ batch.measuredAbv | formatABV }}</dd>

  <dt>
    <abbr title="International Bittering Units">IBU</abbr>
  </dt>
  <dd>{{ batch.estimatedIbu | formatIBU }}</dd>

  <dt>
    <abbr title="European Brewery Convention">EBC</abbr>
  </dt>
  <dd>{{ batch.estimatedColor | srmToEBC | formatEBC }}</dd>

  <dt>
    <abbr title="Original Gravity">OG</abbr>
  </dt>
  <dd>{{ batch.estimatedOg }}</dd>

  <dt>
    <abbr title="Final Gravity">FG</abbr>
  </dt>
  <dd>{{ batch.estimatedFg }}</dd>

  <dt>Fermentables</dt>
  <dd>
    {% for f in batch.recipe.fermentables %}
      {{ f.name | formatFermentable }}{% if not loop.last %},{% endif %}
    {% endfor %}
  </dd>

  <dt>Hops</dt>
  <dd>
    {% for h in batch.recipe.hops %}
      {{ h.name | formatHop }}{% if not loop.last %},{% endif %}
    {% endfor %}
  </dd>

  <dt>Yeast</dt>
  <dd>
    {% for y in batch.recipe.yeasts %}
      {{ y.name | formatYeast }} ({{ y.productId}}){% if not loop.last %},{% endif %}
    {% endfor %}
  </dd>
</dl>
