---
pagination:
  data: beer.batches
  size: 1
  alias: batch
permalink: 'beer/batches/{{ batch._id }}/'
eleventyComputed:
  title: '{{ beer.title }} | {{ batch.recipe.name }}'
  description: '{{ beer.description }}'
---

<h1>
  {{ batch.recipe.name }}
  (<time datetime="{{ batch.brewDate | machineDate }}" title="{{ batch.brewDate | humanDate }}" class="">{{ batch.brewDate | humanDate }}</time>)
</h1>

<dl>
  {% if batch.recipe.style.name %}
    <dt>Style</dt>
    <dd>{{ batch.recipe.style.name }}</dd>
  {% endif %}

  {% if batch.measuredAbv %}
    <dt>
      <abbr title="Alcohol by volume">ABV</abbr>
    </dt>
    <dd>{{ batch.measuredAbv | formatABV }}</dd>
  {% endif %}

  {% if batch.estimatedIbu %}
    <dt>
      <abbr title="International Bittering Units">IBU</abbr>
    </dt>
    <dd>{{ batch.estimatedIbu | formatIBU }}</dd>
  {% endif %}

  {% if batch.estimatedColor %}
    <dt>
      <abbr title="European Brewery Convention">EBC</abbr>
    </dt>
    <dd>{{ batch.estimatedColor | srmToEBC | formatEBC }}</dd>
  {% endif %}

  {% if batch.estimatedOg %}
    <dt>
      <abbr title="Original Gravity">OG</abbr>
    </dt>
    <dd>{{ batch.estimatedOg }}</dd>
  {% endif %}

  {% if batch.estimatedFg %}
    <dt>
      <abbr title="Final Gravity">FG</abbr>
    </dt>
    <dd>{{ batch.estimatedFg }}</dd>
  {% endif %}

  {% if batch.recipe.fermentables.length %}
    <dt>Fermentables</dt>
    <dd>
      {% for f in batch.recipe.fermentables %}
        {{ f.name | formatFermentable }}{% if not loop.last %},{% endif %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if batch.recipe.hops.length %}
    <dt>Hops</dt>
    <dd>
      {% for h in batch.recipe.hops %}
        {{ h.name | formatHop }}{% if not loop.last %},{% endif %}
      {% endfor %}
    </dd>
  {% endif %}

  {% if batch.recipe.yeasts.length %}
    <dt>Yeast</dt>
    <dd>
      {% for y in batch.recipe.yeasts %}
        {{ y.name | formatYeast }} ({{ y.productId}}){% if not loop.last %},{% endif %}
      {% endfor %}
    </dd>
  {% endif %}
</dl>
