---
pagination:
  data: beer.batches
  size: 1
  alias: batch
permalink: 'beer/batches/{{ batch.id }}/'
eleventyComputed:
  title: '{{ beer.title }} | {{ batch.name }}'
  description: '{{ beer.description }}'
---
{% import 'components/text.html' as 'text' %}

{% macro beerStat(name, value) %}
  <dt class="font-bold">{{ name }}</dt>
  <dd class="col-span-3">{{ value }}</dd>
{% endmacro %}

<article>
  <header class="grid">
    <h1 class="text-5xl">{{ batch.name }}</h1>

    <p class="m-0 font-light uppercase">
      {{ batch.style }}
      {% if batch.brewDate %}
        {{ text.separator() }} <time datetime="{{ batch.brewDate | machineDate }}" title="{{ batch.brewDate | humanDate }}">{{ batch.brewDate | humanDate }}</time>
      {% endif %}
    </p>
  </header>

  <p class="my-6 text-lg">
    {% if batch.abv %}
      {{ batch.abv }} <abbr title="Alcohol by volume">ABV</abbr>
    {% endif %}

    {% if batch.ibu %}
      {{ text.separator() }} {{ batch.ibu }} <abbr title="International Bittering Units">IBU</abbr>
    {% endif %}

    {% if batch.ebc %}
      {{ text.separator() }} {{ batch.ebc }} <abbr title="European Brewery Convention">EBC</abbr>
    {% endif %}
</article>

<dl class="grid gap-2 grid-cols-4">
  {% if batch.fermentables.length %}
    {% set value = batch.fermentables | join(', ') %}
    {{ beerStat('Fermentables', value) }}
  {% endif %}

  {% if batch.hops.length %}
    {% set value = batch.hops | join(', ') %}
    {{ beerStat('Hops', value) }}
  {% endif %}

  {% if batch.yeasts.length %}
    {% set value = batch.yeasts | join(', ') %}
    {{ beerStat('Yeast', value) }}
  {% endif %}
</dl>
