---
eleventyComputed:
  title: "{{ beer.title }}"
  description: "{{ beer.description }}"
  eleventyNavigation:
    key: "{{ beer.title }}"
    order: 3
pageFooter: Details of previous batches have been lost to time and poor record-keeping.
---
{% include 'components/page-header.html' %}

<table>
  <thead class="hidden sm:table-header-group">
    <tr>
      <th>Name</th>
      <th>Style</th>
      <th class="text-right"><abbr title="Alcohol by volume">ABV</abbr></th>
      <th class="text-right"><abbr title="International Bittering Units">IBU</abbr></th>
      <th class="text-right"><abbr title="European Brewery Convention">EBC</abbr></th>
      <th class="text-right">Date</th>
    </tr>
  </thead>
  <tbody>
    {%- for batch in beer.batches -%}
      <tr class="flex flex-wrap sm:table-row">
        <td class="w-1/2 py-2 pr-2 font-semibold sm:w-auto">
          <a href="/beer/batches/{{ batch.id }}" class="no-underline subtle-link">
            {{ batch.name }}
          </a>
        </td>
        <td class="w-1/2 py-2 pr-2 sm:w-auto">
          {{ batch.style }}
        </td>
        <td class="w-1/4 pb-2 pr-2 sm:w-auto sm:text-right sm:pb-0">
          {{ batch.abv }}
          <abbr title="Alcohol by volume" class="sm:hidden">ABV</abbr>
        </td>
        <td class="w-1/4 pr-2 sm:w-auto sm:text-right">
          {{ batch.ibu }}
          {% if batch.ibu !== '-' %}
            <abbr title="International Bittering Units" class="sm:hidden">IBU</abbr>
          {% endif %}
        </td>
        <td class="w-1/4 pr-2 sm:w-auto sm:text-right">
          {{ batch.ebc }}
          {% if batch.ebc !== '-' %}
            <abbr title="European Brewery Convention" class="sm:hidden">EBC</abbr>
          {% endif %}
        </td>
        <td class="w-1/4 text-right sm:w-auto">
          <time datetime="{{ batch.brewDate | machineDate }}" title="{{ batch.brewDate | humanDate }}">{{ batch.brewDate | shortDate }}</time>
        </td>
      </tr>
    {%- endfor -%}
  </tbody>
</table>

{% include 'components/page-footer.html' %}
