---
pageTitle: Recipes
description: Beer is for fun.
eleventyComputed:
  title: Beer | {{ pageTitle }}
  eleventyNavigation:
    key: "{{ pageTitle }}"
    parent: Beer
---

<ul class="beer-recipes">
  {%- for recipe in beer.recipes -%} {% set id = "beer-recipe-" + recipe.id %}
  <li class="beer-recipe{% if recipe.isCore %} beer-recipe--core{% endif %}">
    <a id="{{ id }}" href="#{{ id }}">
      {% image recipe.imagePath, recipe.imageAlt, "25vw" %}
    </a>

    <div class="beer-recipe-info">
      <h1>{{ recipe.name }}</h1>
      <p>{{ recipe.style }}</p>

      <dl class="beer-recipe-info-stats">
        {% if recipe.abv !== '0.0%' %}
        <dt><abbr title="Alcohol by volume">ABV</abbr></dt>
        <dd>{{ recipe.abv }} <abbr title="Alcohol by volume">ABV</abbr></dd>
        {% endif %} {% if recipe.ibu !== '-' %}
        <dt><abbr title="International Bittering Units">IBU</abbr></dt>
        <dd>
          {{ recipe.ibu }}
          <abbr title="International Bittering Units">IBU</abbr>
        </dd>
        {% endif %} {% if recipe.ebc !== '-' %}
        <dt><abbr title="European Brewery Convention">EBC</abbr></dt>
        <dd>
          {{ recipe.ebc }} <abbr title="European Brewery Convention">EBC</abbr>
        </dd>
        {% endif %}
      </dl>

      <p class="beer-recipe-info-date">
        {% if recipe.batch.brewDate %} First brewed
        <time
          datetime="{{ recipe.batch.brewDate | machineDate }}"
          title="{{ recipe.batch.brewDate | humanDate }}"
        >
          {{ recipe.batch.brewDate | humanDate }}
        </time>
        {% endif %}
      </p>
    </div>
  </li>
  {%- endfor -%}
</ul>
