---
layout:
permalink: manifest.json
eleventyExcludeFromCollections: true
---
{
  "name": "{{ site.author.name }}’s website",
  "short_name": "{{ site.shortName }}",
  "description": "{{ site.description }}",
  "lang": "en",
  "dir": "ltr",
  "start_url": "/",
  "display": "minimal-ui",
  "theme_color": "#ffffff",
  "background_color": "#ffffff",
  "icons": [
    {
      "src": "/img/icons/apple-touch-icon.png",
      "sizes": "180x180",
      "type": "image/png"
    },
    {
      "src": "/img/icons/google-touch-icon.png",
      "sizes": "512x512",
      "type": "image/png"
    }
  ]
}
