---
eleventyComputed:
  title: "{{ notes.title }}"
  description: "{{ notes.description }}"
  eleventyNavigation:
    key: "{{ notes.title }}"
    order: 2
pageFooter: Prior ramblings have been lost to time.
---

<header>
  <h1>{{ title }}</h1>
  <p class="mb-8 italic">{{ description }}</p>
</header>

<ul>
  {% for note in collections.notes | reverse %}
    {% set noteTitle = note.data.title %}
    {% set content = note.templateContent %}
    {% if loop.last %}
      <li class="mb-12">
    {% else %}
      <li class="mb-24">
    {% endif %}
      {% include 'components/note.html' %}
    </li>
  {% endfor %}
</ul>

<p class="mt-12 meta-text">{{ pageFooter }}</p>
