@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* purgecss start ignore */

  :root {
    --foreground: #363d49;
    --background: #fff;
    --accent: #d93f00;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #d1d6e0;
      --background: #1b1d22;
      --accent: #ff9e66;
    }

    svg {
      filter: brightness(0.8) contrast(1.2);
    }

    img:not([src*='.svg']) {
      filter: grayscale(40%);
    }
  }

  h1,
  h2,
  h3 {
    @apply mb-1 font-bold;
  }

  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply no-underline text-accent;
  }

  a:focus,
  a:hover,
  a.active {
    @apply underline;
  }

  img {
    @apply h-auto max-w-full;
  }

  pre {
    @apply overflow-auto;
  }

  code {
    @apply text-base text-accent;
  }

  blockquote {
    @apply relative pl-4 m-4 italic border-l-4 border-gray-400 opacity-75;
  }

  @screen dark {
    blockquote {
      @apply border-gray-700;
    }
  }

  @screen sm {
    .portrait-footer li:nth-child(1) {
      transform: translate(2.5em, 12.3em);
    }
    .portrait-footer li:nth-child(2) {
      transform: translate(-1.9em, 3.8em);
    }
    .portrait-footer li:nth-child(4) {
      transform: translate(1.9em, 3.8em);
    }
    .portrait-footer li:nth-child(5) {
      transform: translate(-2.5em, 12.3em);
    }
  }

  /* purgecss end ignore */
}
