:root {
  --line-height: 1.618;
  --size: calc(var(--line-height) * 1em);
  --size-half: calc(var(--size) / 2);
  --size-double: calc(var(--size) * 2);
  --transition-duration: 0.3s;
  --transition-function: ease;
  --foreground: #363d49;
  --background: #fff;
  --primary: #d93f00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #d1d6e0;
    --background: #1b1d22;
    --primary: #ff9e66;
  }

  svg {
    filter: brightness(0.8) contrast(1.2);
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  line-height: var(--line-height);
  font-size: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
  min-height: 100vh;
}

@media (min-width: 48em) {
  body {
    font-size: 110%;
  }
}

@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 1fr auto;
  }
}

main,
[role='contentinfo'] {
  margin: auto;
  padding: 0 var(--size-half);
  max-width: 40em;
  background: yellow;
}

p {
  margin: 0 0 var(--size);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:focus,
a:hover {
  outline: none;
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  text-align: center;
}

[role='contentinfo'] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

[role='contentinfo'] li,
[role='contentinfo'] li a {
  display: inline-block;
  line-height: 1;
  color: inherit;
}

[role='contentinfo'] li a {
  padding: var(--size-half);
  transition: transform var(--transition-duration) var(--transition-function),
    color var(--transition-duration) var(--transition-function);
}

[role='contentinfo'] li a:focus,
[role='contentinfo'] li a:hover {
  border: none;
  color: var(--primary);
  transform: scale(1.3);
}

[role='contentinfo'] li svg {
  width: 2.2em;
  height: 2.2em;
}

[role='contentinfo'] .u-photo {
  display: block;
  margin: auto;
}

/* @supports (display: flex) { */
/* ul { */
/* display: flex; */
/* flex-wrap: wrap; */
/* justify-content: space-around; */
/* } */

/* @media (min-width: 40em) { */
/* li:nth-child(1) a { */
/* transform: translate(2.5em, 12.3em); */
/* } */
/* li:nth-child(2) a { */
/* transform: translate(-1.9em, 3.8em); */
/* } */
/* li:nth-child(4) a { */
/* transform: translate(1.9em, 3.8em); */
/* } */
/* li:nth-child(5) a { */
/* transform: translate(-2.5em, 12.3em); */
/* } */
/* } */
/* } */

/* @supports (display: grid) { */
/* body { */
/* display: grid; */
/* grid-template-rows: 1fr auto; */
/* } */

/* #about { */
/* align-self: center; */
/* } */
/* } */
