@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground: #363d49;
    --background: #fff;
    --accent: #d93f00;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground: #d1d6e0;
      --background: #1b1d22;
      --accent: #ff9e66;
    }

    svg {
      filter: brightness(0.8) contrast(1.2);
    }

    img:not([src*='.svg']) {
      filter: grayscale(40%);
    }
  }

  p {
    @apply mb-4;
  }

  a {
    @apply no-underline text-accent;
  }

  a:focus,
  a:hover,
  a.active {
    @apply underline;
  }

  img {
    @apply h-auto max-w-full;
  }

  @screen sm {
    [role='contentinfo'] li:nth-child(1) {
      transform: translate(2.5em, 12.3em);
    }
    [role='contentinfo'] li:nth-child(2) {
      transform: translate(-1.9em, 3.8em);
    }
    [role='contentinfo'] li:nth-child(4) {
      transform: translate(1.9em, 3.8em);
    }
    [role='contentinfo'] li:nth-child(5) {
      transform: translate(-2.5em, 12.3em);
    }
  }
}
