/* ==========================================================================
   Article
   ========================================================================== */

.article {
}

// Articles when they appear in a paginated list
.post-list .article {
  margin-top: $triple-size;
  padding-top: $double-size;
  border-top: 2px solid $lighter-grey;

  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border: none;
  }
}

.article__header {
  @include clearfix;
  position: relative;
}

.article__title {
  margin: $double-size 0;
}

.article__link {
}

.article__subtitle {
}

.article__time {
  position: absolute;
  top: $size;
  font-size: $font-size-small;
  font-style: italic;
  font-weight: $font-weight-light;
  color: $light-grey;
}

.article__content {

  /**
   * Custom bullet/number list styles in article content only
   */

  li {
    list-style: none;
    position: relative;

    &:before {
      position: absolute;
      left: -2.5rem; //-40px;
      width: 1.5625rem; //25px;
      text-align: right;
      color: $accent-dark;
    }
  }

  ul li:before {
    content: '\2022';
  }

  ol {
    counter-reset: list-number;

    li:before {
      counter-increment: list-number;
      content: counter(list-number) '.';
    }
  }

  // Override custom bullets for blank lists and block grids
  .blank-list,
  [class*="block-grid-"] {
    li:before {
      display: none;
    }
  }
}
