/* ==========================================================================
   Article
   ========================================================================== */

.article {
}

.article__header {
}

.article__title {
}

.article__subtitle {
}

.article__time {
  font-style: italic;
  font-weight: $font-weight-light;
  color: $light-grey;
}

.article__content {
}
