/* ==========================================================================
   Contact Links
   ========================================================================== */

.contact-links {
  margin-top: $triple-size;
}

.contact-links__item {
  text-align: center;
}

.contact-links__link {
  display: inline-block;
  margin: $half-size;
  padding: $half-size;
  color: inherit;
}

.contact-links__icon {
  width: $double-size;
  height: $double-size;

  &:not(root) {
    overflow: visible;
  }
}
