/* ==========================================================================
   Navigation
   ========================================================================== */

[role="navigation"] {
}

.navigation-list {
  @extend .blank-list;
  margin: ($half-size * -1) 0 $half-size ($half-size * -1);
  text-transform: lowercase;

  @media only screen and (min-width: $break-sm) {
    margin-bottom: $size;
  }
}

.navigation-list__item {
  display: inline-block;
}

.navigation-list__item--active {
  @extend .navigation-list__item;
}

.navigation-list__link {
  display: inline-block;
  padding: $half-size;
  color: inherit;

  &:focus,
  &:hover,
  &--active {
    color: $accent;
  }
}

.navigation-list__link--active {
  @extend .navigation-list__link;
}
