/* ==========================================================================
   Pagination
   ========================================================================== */

.pagination {
  @include clearfix;
  margin-top: $triple-size;
  padding: $half-size 0;
  text-transform: lowercase;
  border-top: 2px solid $lighter-grey;
}

.pagination__link {
  display: block;
  padding: $half-size;
}

.pagination__link--newer {
  @extend .pagination__link;
  margin-left: $half-size * -1;
  float: left;

  &:before {
    content: '←';
    padding: 0 $quarter-size;
  }
}

.pagination__link--older {
  @extend .pagination__link;
  margin-right: $half-size * -1;
  float: right;

  &:after {
    @extend .pagination__link--newer:before;
    content: '→';
  }
}
