/* ==========================================================================
   Resource List
   ========================================================================== */

.resource-list {
  margin: 0;
  padding: 0;
}

.resource-list__item {
  @include clearfix;
  margin-bottom: $size;
}

.resource-list__header {
  @include clearfix;
  margin-bottom: $quarter-size;
  border-bottom: 1px solid darken($lighter-grey, 6);
}

.resource-list__title {
  float: left;
  margin: 0;
}

.resource-list__link {
  color: inherit;
}

.resource-list__links {
  @extend .inline-list;
  text-align: right;
}

.resource-list__links-item {
  font-size: $font-size-small;

  .resource-list__link {
    padding: $quarter-size;
  }
}

[class^=resource-list__icon] {
  width: $half-size;
  height: $half-size;
  vertical-align: text-top;
}

.resource-list__body {

}
