/* ==========================================================================
   Search
   ========================================================================== */

.search {
  @include clearfix;
  display: inline-block;
  margin-bottom: $size;
  color: $grey;
}

.search__label {
  display: none;
}

.search__field {
  float: left;
  padding: 3px;
  width: 10rem;
  border: none;
  border-radius: $border-radius 0 0 $border-radius;
  background: $lighter-grey;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 1rem $lighter-blue;
  }
}

.search__btn {
  float: left;
  padding: 3px 8px;
  border: none;
  border-radius: 0 $border-radius $border-radius 0;
  color: $lighter-grey;
  background: $grey;
  @include simple-transition(color);

  &:focus,
  &:hover {
    outline: none;
    color: $lighter-blue;
  }
}
