/* ==========================================================================
   Site Title
   ========================================================================== */

.site-title {
  margin: $double-size 0;
  font-weight: $font-weight-normal;

  @media only screen and (min-width: $break-sm) {
    margin: $triple-size 0;
  }
}

.site-title__link {
}

.site-title__first {
  display: block;
  font-weight: $font-weight-bold;

  @media only screen and (min-width: $break-sm) {
    display: inline-block;
  }
}

.site-title__last {
}
