/* ==========================================================================
   Typography
   ========================================================================== */

hr {
  margin: $double-size 0;
}

.vcard {
  margin: 0;

  .fn {
    font-weight: $font-weight-normal;
  }
}
