---
pagination:
  data: beer.batches
  size: 1
  alias: batch
permalink: "{{batch.permalink}}"
description: Beer is for fun
mainClass: "wrapper"
---

{% renderTemplate "webc", { batch: batch } %}
  <beer-batch :@batch="batch"></beer-batch>
{% endrenderTemplate %}
